* {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: #2b2b2b;
  display: flex;
  height: 120px;
  padding: 15px;
  padding-bottom: 30px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline;
}

header a:link,
header a:visited {
  color: #939393;
}

header a:hover,
header .fa-nav:hover {
  color: #fff;
}

.nav-links a {
  padding-left: 20px;
}

header img {
  width: 200px;
  position: relative;
  top: 40px;
  right: 20px;
}

.nav-links,
h3 {
  text-transform: uppercase;
}

.nav-links {
  align-self: flex-end;
}

.admin {
  position: relative;
  left: -2px;
  padding-top: 5px;
}

.admin a {
  font-size: 18px;
}

.header-right {
  margin-left: auto;
}

body {
  background-color: #efefef;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.art-link {
  background-color: #efefef;
  font-size: 13px;
  padding: 6px;
}

h1 {
  padding: 20px;
  margin-left: 75px;
}

.card {
  background-color: #fff;
  width: 300px;
  height: 420px;
  margin: 15px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:hover {
  border-radius: 3px;
  box-shadow: 1px 1px 2px gray, 0 0 1em #76BBF4, 0 0 0.2em #76BBF4;
}

.card img {
  width: 300px;
  height: 180px;
  filter: brightness(50%);
}

.image-div {
  position: relative;
}

.fa-share {
  color: #fff;
  font-size: 50px;
  position: absolute;
  bottom: 120px;
  left: 15px;
}

.p2 {
  color: #fff;
  font-size: 15px;
  position: absolute;
  bottom: 153px;
  left: 239px;
}

.p3 {
  color: #fff;
  font-size: 40px;
  position: absolute;
  bottom: 105px;
  left: 235px;
}

article {
  padding: 10px;
}

h2 {
  font-size: 15px;
}

h3 {
  font-size: 11px;
}

h4 {
  font-size: 36px;
  color: #62BCF9;
}

h1,
h2,
h3 {
  font-weight: 300;
}

.p1 {
  font-size: 10px;
}

.h3 {
  padding-top: 10px;
}

.art-link {
  word-wrap: break-word;
  width: 90%;
  margin: 10px auto;

}